<!DOCTYPE html>
<html lang="en">
<head>  
   <!-- CSS-->
  <link rel="stylesheet" href="/static/meals/css/normalize.css">     
  <link rel="stylesheet" href="/static/meals/css/default.css">   

  <!--Javascript-->  
  
  <script src="/static/meals/js/jquery-2.2.0.js"></script>
  <script src="/static/meals/js/jquery.popupoverlay.js"></script>

  <title></title>
</head>
<body>
  <div class = "top">
    <img class = "logo" src = "/static/meals/images/logo.png"></img>
  </div>  
    {% block contents %}    
    {% endblock %}   

  <script src="/static/meals/js/default.js"></script>  
</body>
</html>
