final_proj/__init__.pyc
final_proj/settings.pyc
final_proj/urls.pyc
final_proj/wsgi.pyc
meals/__init__.pyc
meals/apps.pyc
meals/forms.pyc
meals/migrations/__init__.pyc
meals/urls.pyc
meals/views.pyc
meals/computations.pyc