<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Form demo page</title>
</head>
<body>
  <form action="/meals/form/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Generate Meal Plan">
  </form>

  <div>
    <h2>Plans:</h2>
    {% if plans %}
      <ul>
        {% for plan in plans %}
          <li><strong>Plan name: {{ plan.name }}</strong></li>
            <ul>
              <u>Meals</u>
              {% for meal in plan.planrecipe_set.all %}
                <li>{{ meal.recipe.label }}</li>
              {% endfor %}
            </ul>
        {% endfor %}
      </ul>
    {% else %}
      None
    {% endif %}
  </div>
</body>
</html>