<!DOCTYPE html>
<html lang="en">
<head>  
   <!-- CSS-->
  <link rel="stylesheet" href="../../static/meals/css/game.css">     
 
  <!--Javascript-->    
  <script src="../../static/meals/js/jquery-2.2.0.js"></script>
  <script src="../../static/meals/js/game.js"></script>  

  <title></title>
</head>
<body>
  <div id = "mainWindow">
  <img id = "load" src = "../../static/meals/images/load.gif">
    <table>
      <tr>
        <td><p>Fat</p></td>
        <td><div id = "bar1"><div id = "lvl1" class = "lvl"></div></div></td>
      </tr>
      <tr>
        <td><p>Protein</p></td>
        <td><div id = "bar2"><div id = "lvl2" class = "lvl"></div></div></td>
      </tr>
      <tr>
        <td><p>Carbohydrate</p></td>
        <td><div id = "bar3"><div id = "lvl3" class = "lvl"></div></div></td>
      </tr>    
    </table>
    <div id = "gameWindow"></div>
  </div>  
</body>
</html>
