{% extends "base.html" %}
{% load mathfilters %}
{% block contents %}
<div class = 'recipes'>
  <div class= "centered" style ="width: 75%">
    <div class='mealplan'>
      {% if plan %}
      <strong>Plan name: {{ plan.name }}</strong>
        <ul>
          <u>Meals</u>
          {% for meal in plan.planrecipe_set.all %}
            <li>
              <img src = "{{ meal.recipe.image }}">
              <a href="{{ meal.recipe.url }}">{{ meal.recipe.label }}</a>
            </li>
            <div class = "hidden nutable">
              <h1>Nutritional Facts</h1>
              <p>Servings per Recipe about {{ meal.recipe.servings }}</p>
              <hr style = "border: 0.5vw solid;">
              <p>Calories {{ meal.recipe.calories|div:meal.recipe.servings }}</p>
              <hr style = "border: 1px solid;">
              <p>Fat {{ meal.recipe.fat }} g</p>
              <hr style = "border: 1px solid;">
              <p>  Saturated Fat {{ meal.recipe.sat_fat|div:meal.recipe.servings }} g</p>
              <p>  Trans Fat {{ meal.recipe.trans_fat|div:meal.recipe.servings }} g</p>
              <hr style = "border: 1px solid;">    
              <p>Cholesterol {{ meal.recipe.cholesterol|div:meal.recipe.servings }} g</p>
              <hr style = "border: 1px solid;">
              <p>Sodium {{ meal.recipe.sodium|div:meal.recipe.servings }} mg</p>
              <hr style = "border: 1px solid;">
              <p>Carbohydrate {{ meal.recipe.carbohydrate|div:meal.recipe.servings }} g</p> 
              <hr style = "border: 1px solid;">
              <p>  Fiber {{ meal.recipe.fiber|div:meal.recipe.servings }} g</p>
              <hr style = "border: 1px solid;">
              <p>  Sugars {{ meal.recipe.sugar|div:meal.recipe.servings }} g</p>
              <hr style = "border: 1px solid;">
              <p>Protein {{ meal.recipe.protein|div:meal.recipe.servings }} g</p>
              <hr style = "border: 1px solid;">
              <p>Vitamin A </p>
              <hr style = "border: 1px solid;">
              <p>Vitamin C </p>
              <hr style = "border: 1px solid;">
              <p>Calcium </p>
              <hr style = "border: 1px solid;">
              <p>Iron </p>
              <hr style = "border: 1px solid;">
              <p>* Percent Daily Values are based on a 2000 calory diet</p>
            </div>
          {% endfor %}
        </ul>
      <strong>Meal Nutritional Info:</strong>
        <table>
          <tr>
            <th>Unit</th>
            <th>Generated</th>
            <th>User entry</th>
          </tr>
          <tr>
            <td>Calories (kcal)</td>
            <td>{{ calories }}</td>
            <td>{{ plan.calories }}</td>
          </tr>
          <tr>
            <td>Fat (g)</td>
            <td>{{ fat }}</td>
            <td>
              {% if plan.fat > 0 %}
              {{ plan.fat }}
              {% else %}
              {{ "Not specified" }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Carbohydrates (g)</td>
            <td>{{ carbohydrates }}</td>
            <td>
              {% if plan.carbohyrdates > 0 %}
              {{ plan.carbohydrates }}
              {% else %}
              {{ "Not specified" }}
              {% endif %}
            </td>
          </tr>  
          <tr>
            <td>Protein (g)</td>
            <td>{{ protein }}</td>
            <td>
              {% if plan.protein > 0 %}
              {{ plan.protein }}
              {% else %}
              {{ "Not specified" }}
              {% endif %}
            </td>
          </tr>
          {% for nutrient in extras %}
            <tr>
              <td>{{ nutrient.0 }}</td>
              <td>{{ nutrient.2 }}</td>
              <td>{{ nutrient.1 }}</td>              
            </tr>
          {% endfor %}            
        </table>
      {% else %}
      <strong>No matches found</strong>  
      {% endif %}
    </div>
    <br>
  </div>
</div>
<div class = "bottom">
    <button class = "btn" onClick="location.href='/'">Back to Main Page</button>
</div> 
{% endblock %} 
