<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Populate database</title>
</head>
<body>
  <form action="/meals/populate/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Populate Database">
  </form>

  <div>
    <h2>Recipes without meal lables:</h2>
    {% if recipes_without_meal_labels %}
      <ul>
        {% for recipe in recipes_without_meal_labels %}
          <li><a href="{{ recipe.url }}">{{ recipe.label }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      None
    {% endif %}
  </div>
</body>
</html>