  <form action="/meals/form/" method="post" class = "daForm">
    {% csrf_token %}
    <select id="num_of_meals" name=num_of_meals>
      <option value="" disabled="disabled" selected="selected">Select the number of meals</option>
      <option value="1">1 meal</option>
      <option value="2">2 meals</option>
      <option value="3">3 meals</option>
      <option value="4">4 meals</option>
      <option selected="selected" value="5">5 meals</option>
      <option value="6">6 meals</option>
      <option value="7">7 meals</option>
    </select>
    <label id="rangeText" />
    <input type="range" id="rangeInput" name="temperature_ini" min="1" max="10" step="4.5" />
    {{ form.as_p }}
    <button type="submit" class = 'btn' value="Generate Meal Plan">
      Generate Meal Plan
    </button>
  </form>
  <button id = "chk" class = 'btn'>Show more fields</button>