
  <form action="/meals/demo/" method="post" id = "daForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class = 'btn' value="Generate Meal Plan">
  </form>
  <button id = "test" class = "btn">Test</button>

<!-- <form class="rounded" id="myform" novalidate="novalidate">
  <fieldset>
    <legend>contact information</legend>
    <p>
      <label>email</label>
      <input type="email" required="required" class="invalid">
    </p>
    <p>
      <label>website</label>
      <input type="url" required="required">
    </p>
    <p>
      <label>name</label>
      <input type="text" required="required">
    </p>
  </fieldset>
  <p class="high">
    <button class="rounded" type="submit">Order Now</button>
  </p>
</form> -->