  <form action="/meals/form/" method="post" id = "daForm">
    {% csrf_token %}
    <select name=num_of_meals>
      <option value="" disabled="disabled" selected="selected">Please select the number of meals</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option selected="selected" value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
    {{ form.as_p }}
    <button type="submit" class = 'btn' value="Generate Meal Plan">
      Generate Meal Plan
    </button>        
  </form>
  <button id = "chk" class = 'btn'>Show more fields</button>