[Desktop Entry]
Encoding=UTF-8
Name=Link to Inline image 2
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=89525b2776&view=fimg&th=15301bd97fb76122&attid=0.2&disp=emb&realattid=ii_15301bd4c0e813a9&attbid=ANGjdJ-f5N54cFU_QRpy_QbtGrUX6TRWp-eXtlz021IvVo3w8EY6q3AaPyXSbWcMObWlU8NLcRrcMTZdr-FZEfUllFyN2J8r-Dsm0Gj029_qUzrU_KXMU73VnqohPvA&sz=w400-h888&ats=1456023187211&rm=15301bd97fb76122&zw&atsh=1
Icon=text-html
