body {
  background-color: rgb(230, 230, 230);
  min-width:300px;
  height: 100vh;
  background: url('/static/meals/images/veggies.png') 0 0 repeat-y, url('/static/meals/images/fruit.png')center right repeat-y;
  background-size:15%;  
}

.top, .bottom {
  color:#885F38;
  width:100%;
  padding:1%;  
  background-color: rgba(136, 95, 56,0.55);
}

.top {
  margin-top: 5%;
}

.bottom {
  margin-bottom: 5%;
}

.logo {
  display:block;
  width:20%;
}

#bg2, .container, .btn, .recipes, .logo, .centered {
  margin-left: auto;
  margin-right: auto;  
}

#bg2 {  
  margin-top: -15%;
  width: 100%;  
  display: block;  
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,1));
  filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.container {  
  font-size: 1.5vw;   
  width: 80%;
  height: 100%;
}

#navBar {
  text-align: center;
  position: relative;
  width: 65%;  
  margin-top: -75%;
  height: 35vw;
  margin-left: 10%;
}

#navBar ul {
  display:block;
  text-align: left;
}

#navBar ul li {
  list-style: none;
  background: #885F38;
  color:#E4CCA6;
  display: inline-block;  
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;  
  padding-left:2%;
  padding-right: 2%;
  padding-bottom: 3%;
}

#navBar li.active, #navBar ul li:hover {
  box-shadow: 2px 0px 2px -1px rgba(0,0,0,1);  
  background-color: rgb(240,240,240);
  color:#885F38;  
}

#navBar li:hover {  
  cursor:pointer;
}

.contents, .mealplan, .ingredients {  
  position: relative;
  background: rgb(240, 240, 240);   
  border-radius: 10px;
  -webkit-filter: drop-shadow(8px 8px 3px rgba(0,0,0,0.5));
  color:#885F38;
  padding:5%;
}

.contents {
  width: 90%;
  height: 70%;
}

.mealplan, .ingredients {
  margin: 2%;  
}

.mealplan {
  width: 45%;
  float: left;
  font-size: 1.5vw;
}

.contents {
  margin-top: -4%;
}

.ingredients {
  width: 29%;
  float:right; 
  margin-left: 0%;
  font-size: 1.5vw;   
}

.ingredients table {
  font-size: 1vw;
}

.mealplan img{
  width: 25%;
  border-radius: 50%;
}

.mealplan ul{
  list-style: none;
  font-size: 1vw;
  -webkit-padding-start: 0px;  
}

.hidden {
  display: none;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#E4CCA6), to(#885F38));
  border-radius: 0.5em;  
  border: none;
  clear:both;
  display: block;    
  font-size: 1.5vw;
  margin-top: 2%;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#885F38), to(#E4CCA6));  
}

.btn:focus {outline:0;}

#loadForm {
  transform: scale(0.8);
  color:#E4CCA6;
  background-color: rgba(136, 95, 56,0.55);
  width: 30%;
  padding: 5%;    
  border-radius:10px;
}

#loadForm input {
  float:  right;
  height: 1vw;
  width: 10vw; 
}

input, select {
  border-radius:5px;     
  color:#885F38;
  font-size: 1vw;      
  margin-bottom: 1%;
}

select {
  height: 2vw;
  width: 17vw;
}

#daForm {
  width:30vw;
  font-size: 1.5vw;
}

#loadForm label {     
  float:  left; 
  clear: both;   
}

.popup_visible #loadForm {
  transform: scale(1);
}

.recipes {  
  display: block;
  overflow: auto;
  width: 65%;
  background: url('/static/meals/images/tablecloth.png') center repeat-y;
  background-size:100%;
  box-shadow: 0px 2px 2px 6px rgba(0,0,0,0.6);
  border-radius: 10px;
}

table, th, td {
  border: 2px solid;  
}

th, td {
  padding: 5px;
  text-align: center;
}

.nutable {
  width: 60%;
  background: white;
  position: absolute;
  color: black;
  padding:10px;
}

.nutable p {  
  -webkit-margin-before: -2% ;
  -webkit-margin-after: -2%;
}

label[for='id_health_labels_12'] {
  display: none;
}

#id_health_labels {
  list-style-type: none;
}
